.chart :global(.MuiInputBase-root),
.chart :global(.MuiSelect-icon) {
  color: var(--text-primary);
}

.chart :global(.MuiOutlinedInput-notchedOutline) {
  border: none;
}

.chart :global(.MuiInputBase-input) {
  font-size: 14px;
  padding-top: 0;
  padding-bottom: 0;
}

.chart .wrapper {
  flex: 1 1 auto;
  height: 0;
}
