.dialog {
  position: absolute;
  transform: translate(-50%, -50%);
  cursor: pointer;
  height: 24px;
  width: 24px;
}

.dialog svg {
  height: 100%;
  width: 100%;
  transform: scale(1);
  transition: transform 100ms cubic-bezier(0.55, 0.085, 0.68, 0.53);
}

.dialog.selected {
  color: var(--background-header);
}

.dialog.selected svg {
  --scale: 0.375;
  transform: translateY(calc(var(--scale) * -100%)) scale(calc(1 + var(--scale) * 2));
}

.content {
  display: none;
  cursor: default;
  position: absolute;
  border-radius: 4px;
  box-shadow: 2px 4px 6px #000000a0;
  padding: 16px;
  font-size: 14px;
  background: var(--background-secondary);
  color: var(--text-primary);
  white-space: nowrap;
}

.dialog.active {
  z-index: 2;
}

.dialog.selected {
  z-index: 1;
}

.dialog.active .content {
  display: block;
}

.dialog.bottomLeft .content {
  top: 100%;
  right: 100%;
}

.dialog.topLeft .content {
  bottom: 100%;
  right: 100%;
}

.dialog.bottomRight .content {
  top: 100%;
  left: 100%;
}

.dialog.topRight .content {
  bottom: 100%;
  left: 100%;
}

.map {
  background-color: var(--background-secondary);
  color: var(--text-primary);
  padding: 16px;
  border-radius: 8px;
  overflow: hidden;

  display: grid;
  grid-template-rows: auto minmax(0, 1fr);
}

.mapContainer {
  position: relative;
  overflow: hidden;
  margin: 0 -16px -16px;
}

.select {
  display: block;
  position: absolute;
  top: 24px;
  left: 24px;
  z-index: 100;
  border-radius: 4px;
  background-color: var(--background-secondary);
  box-shadow: 0 0 9px rgba(0, 0, 0, 0.4);
}

.select.hasSelected {
  display: none;
}


.map :global(.MuiInputBase-root),
.map :global(.MuiIconButton-root) {
  color: var(--text-primary);
}

.map :global(.MuiInputBase-input):not(:focus)::placeholder {
  opacity: 1;
}

.map :global(.MuiOutlinedInput-notchedOutline) {
  border-color: var(--text-primary);
}